# .github/workflows/gh-pages.yml

name: GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"
          extended: true

      - name: Build
        run: hugo --minify

      - name: Checkout main gh repo
        uses: actions/checkout@v6
        with:
          repository: Peter-Hu12138/hugo-site
          path: main-site
          token: ${{  }}
          
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          deploy_key: ${{ secrets.MAIN_ACCESS_TOKEN }}
          external_repository: Peter-Hu12138/Peter-Hu12138.github.io
          publish_branch: main  # default: gh-pages
          publish_dir: ./public 

